<div class="grid grid-cols-1 sm:grid-cols-2 gap-3 mb-3">
    <div class="text-start text-xl font-semibold leading-none">
        <%= t('.title') %>
    </div>
    <div class="text-end my-auto">
        <%= link_to t('navbar.edit_user_registration'), edit_user_registration_path, method: :post, class: "cursor-pointer bg-gray-300 hover:bg-gray-400 px-3 py-1 font-medium hover:text-gray-800 rounded-full shadow" %>
    </div>
</div>

<div class="grid grid-cols-1 mb-3">
    <div class="text-start text-lg font-semibold leading-none">
        <% if current_user.admin? %>
            <%= t('.admin_discount') %> <%= @discount.percentage %> %
        <% else %>
            <%= t('.my_discount') %> <%= @discount.percentage %> %
            <p class="text-base font-normal mt-2">
                <%= t('.discount_system') %>
            </p>
        <% end %>
        <p class="text-base font-normal mt-2">
            <%= t('.my_spent_money') %> <%= number_to_currency(@discount.spent_money) %>
        </p>
    </div>
</div>

<div class="grid grid-cols-1 mb-3">
    <div class="text-start text-lg font-semibold leading-none">
        <%= t('.my_orders') %>
    </div>
</div>

<% if @orders.present? %>
    <div class="grid auto-cols-[24rem] grid-flow-col overflow-x-auto gap-3 mb-3">
        <% @orders.each do |order| %>
            <%= link_to order do %>
                <div class="block rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] mb-3">
                    <div class="p-4">
                        <%= t('.order_number') %> <%= order.id %><br>
                        <%= t('.order_date') %> <%= I18n.l(order.created_at, format: :long_reverse) %><br>
                        <%= t('.order_price') %> <%= number_to_currency(order.order_price) %><br>
                        <%= t('.order_status') %> <%= Order.human_enum_name(:order_status, order.order_status) %><br>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
<% else %>
    <div class="mb-3">
        <%= t('.orders_empty') %>
    </div>
<% end %>

<div class="grid grid-cols-1 sm:grid-cols-2 gap-3 mb-3">
    <div class="text-start text-lg font-semibold leading-none">
        <%= t('.my_delivery_adress') %>
    </div>
    <div class="text-end my-auto">
        <%= link_to t('button.add.delivery_address'), new_delivery_address_path, method: :post, class: "cursor-pointer bg-gray-300 hover:bg-gray-400 px-3 py-1 font-medium hover:text-gray-800 rounded-full shadow" %>
    </div>
</div>

<% if @delivery_addresses.present? %>
    <div class="grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 gap-3 mb-3">
        <% @delivery_addresses.each do |delivery_address| %>
            <%= render 'delivery_addresses/delivery_address', delivery_address: delivery_address %>
        <% end %>
    </div>
<% else %>
    <div class="mb-3">
        <%= t('.delivery_addresses_empty') %>
    </div>
<% end %>

<div class="grid grid-cols-1 sm:grid-cols-2 gap-3 mb-3">
    <div class="text-start text-lg font-semibold leading-none">
        <%= t('.my_payment_cards') %>
    </div>
    <div class="text-end my-auto">
        <%= link_to t('button.add.payment_card'), new_payment_card_path, method: :post, class: "cursor-pointer bg-gray-300 hover:bg-gray-400 px-3 py-1 font-medium hover:text-gray-800 rounded-full shadow" %>
    </div>
</div>

<% if @payment_cards.present? %>
    <div class="grid grid-cols-1 lg:grid-cols-3 md:grid-cols-2 gap-3 mb-3">
        <% @payment_cards.each do |payment_card| %>
            <%= render 'payment_cards/payment_card', payment_card: payment_card %>
        <% end %>
    </div>
<% else %>
    <div class="mb-3">
        <%= t('.payment_cards_empty') %>
    </div>
<% end %>