<div class="grid grid-cols-1 sm:grid-cols-2 gap-3 mb-3">
    <div class="text-start text-xl font-semibold leading-none">
        <%= t('.title') %>
    </div>
    <div class="text-end my-auto">
        <%= link_to t('navbar.edit_user_registration'), edit_user_registration_path, method: :post, class: "cursor-pointer bg-gray-300 hover:bg-gray-400 px-3 py-1 font-medium hover:text-gray-800 rounded-full shadow" %>
    </div>
</div>

<div class="grid grid-cols-1 mb-3">
    <div class="text-start text-lg font-semibold leading-none">
        <%= t('.my_old_orders') %>
    </div>
</div>

<% if @old_carts.present? %>
    <div class="grid grid-cols-1 mb-3">
        <% @old_carts.each do |old_cart| %>
            <%= link_to old_cart do %>
                <%= t('.old_cart') %> <%= I18n.l(@cart.updated_at, format: :long_reverse) %>
            <% end %>
        <% end %>
    </div>
<% else %>
    <div class="mb-3">
        <%= t('.old_carts_empty') %>
    </div>
<% end %>

<div class="grid grid-cols-1 sm:grid-cols-2 gap-3 mb-3">
    <div class="text-start text-lg font-semibold leading-none">
        <%= t('.my_delivery_adress') %>
    </div>
    <div class="text-end my-auto">
        <%= link_to t('button.add.delivery_address'), new_delivery_address_path, method: :post, class: "cursor-pointer bg-gray-300 hover:bg-gray-400 px-3 py-1 font-medium hover:text-gray-800 rounded-full shadow" %>
    </div>
</div>

<% if @delivery_addresses.present? %>
    <div class="grid grid-cols-1 mb-3">
        <% @delivery_addresses.each do |delivery_address| %>
            <%= render 'delivery_addresses/delivery_address', delivery_address: delivery_address %>
        <% end %>
    </div>
<% else %>
    <div class="mb-3">
        <%= t('.delivery_addresses_empty') %>
    </div>
<% end %>