<div class="grid grid-cols-1 mb-3" >
    <div class="text-start text-xl font-semibold leading-none">
        <%= t('.title') %> <%= I18n.l(@order.created_at, format: :long) %> (<%= Order.human_enum_name(:order_status, @order.order_status) %>)
    </div>
</div>

<%= render 'show_order' %>

<% if (can? :update, Order) && @order.order_status != "sended" %>
    <div class="grid grid-cols-1 mb-3">
        <div class="text-start my-auto">
            <%= link_to t('button.edit'), edit_order_path(@order), class: "cursor-pointer bg-gray-300 hover:bg-gray-400 px-3 py-1 font-medium hover:text-gray-800 rounded-full shadow" %>
        </div>
    </div>
<% end %>