<div id="<%= dom_id category %>">
    <div class="block rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)]">
        <%= link_to category, class: "" do %>
            <% if category.avatar.attached? %>
                <img class="rounded-t-lg" src="<%= cloudinary_url(category.avatar.key, height: 200, crop: :scale) %>" style="width:100%;">
            <% end %>

            <div class="p-4">
                <div class="text-xl text-center font-medium leading-tight">
                    <%= category.name %> 
                    <% if category.has_children? %>
                        (<%= category.children.count %>)
                    <% end %>
                </div>
            </div>

            <div class="grid grid-cols-1" data-turbo="true">
                <div class="pb-2 text-center">
                    <% if can? :update, Category %>
                        <%= link_to t('button.edit'), edit_category_path(category), class: "cursor-pointer bg-gray-300 hover:bg-gray-400 px-3 py-1 font-medium hover:text-gray-800 rounded-full shadow" %>
                    <% end %>                    
                    <% if can? :destroy, Category %>
                        <% unless category.has_children? %>
                            <%= button_to t('button.delete'), category, method: :delete, data: { turbo_confirm: t('button.delete_confirm') }, class: "cursor-pointer bg-gray-300 hover:bg-gray-400 px-3 py-1 font-medium hover:text-gray-800 rounded-full shadow", form: {style: 'display:inline-block;'} %>
                        <% end %>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
</div>