<div id="<%= dom_id product %>">
    <div class="block rounded-lg bg-white shadow-[0_2px_15px_-3px_rgba(0,0,0,0.07),0_10px_20px_-2px_rgba(0,0,0,0.04)] dark:bg-neutral-700">
        <%= link_to product, class: "" do %>
            <% if product.photos.attached? %>
                <img class="p-4" src="<%= cloudinary_url(product.photos.first.key, height: 200, crop: :scale) %>" style="width:100%;">
            <% end %>

            <div class="px-4">
                <div class="text-lg text-center font-medium leading-tight">
                    <%= product.name %>
                </div>
            </div>

            <div class="p-4">
                <div class="text-sm text-center font-light leading-tight">
                    <%= number_to_currency(product.price) %>
                </div>
            </div>

            <div class="grid grid-cols-1" data-turbo="true">
                <div class="pb-2 text-center">
                    <% if can? :update, product %>
                        <%= link_to t('button.edit'), edit_product_path(product), class: "cursor-pointer bg-gray-300 hover:bg-gray-400 px-3 py-1 font-medium hover:text-gray-800 rounded-full shadow" %>
                    <% end %>
                </div>
            </div>
        <% end %>
    </div>
</div>