<div class="grid grid-cols-1 mb-3">
    <div class="text-start text-xl font-semibold leading-none">
        <%= t('.title') %> "<%= @search_param %>"
    </div>
</div>

<% if (@products.present? && @avaliable_products.size.positive?) || (@products.present? && @avaliable_products.size.zero? && (can? :manage, Product)) %>
    <div class="grid grid-cols-2 lg:grid-cols-6 md:grid-cols-4 gap-3">
        <% if can? :manage, Product %>
            <% @products.each do |product| %>
                <%= render product %>
            <% end %>
        <% else %>
            <% @products.each do |product| %>
                <% if @avaliable_products.has_key?(product.id) %>
                    <%= render product %>
                <% end %>
            <% end %>
        <% end %>
    </div>
<% else %>
    <%= t('.search_empty') %>
<% end %>

<%= render 'shared/pagy' %>