<% if can? :update, Product %>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-3 mb-3">
<% else %>
    <div class="grid grid-cols-1 mb-3">
<% end %>
        <div class="text-start text-xl font-semibold leading-none">
            <%= @product.name %>
        </div>
        <% if can? :update, Product %>
            <div class="text-end my-auto">
                <%= link_to t('button.edit'), edit_product_path(@product), class: "cursor-pointer bg-gray-300 hover:bg-gray-400 px-3 py-1 font-medium hover:text-gray-800 rounded-full shadow" %>
            </div>
        <% end %>
    </div>

<div class="grid grid-cols-1 mb-3">
    <div class="text-start leading-none">
        <% @category.ancestors.each do |category| %>
            <%= link_to category.name, shop_path(id: category.id) %> &gt;
        <% end %>
        <%= link_to @category.name, shop_path(id: @category.id) %>
    </div>
</div>

<div class="grid grid-cols-2 lg:grid-cols-6 md:grid-cols-4 gap-3">
    <% if @product.photos.attached? %>
        <% @product.photos.each do |photo| %>
            <div>
                <img class="p-4" src="<%= cloudinary_url(photo.key, height: 200, crop: :scale) %>" style="width:100%;">
            </div>
        <% end %>
    <% end %>
    <div class="text-center leading-tight">
        <%= t('.price') %> <%= number_to_currency(@product.price) %>
    </div>
</div>

<div class="grid grid-cols-2 lg:grid-cols-6 md:grid-cols-4 gap-3">
    <div class="text-center">
        <%= t('.avaliable') %> <%= @product_avaliable %>
    </div>
    <% if can? :create, Storehouse %>
        <div class="text-center">
            <%= link_to t('button.add.storehouse'), new_storehouse_path(product_id: @product.id, operation_type: "input"), method: :post, class: "cursor-pointer bg-gray-300 hover:bg-gray-400 px-3 py-1 font-medium hover:text-gray-800 rounded-full shadow" %>
        </div>
    <% end %>
    <% if can? :search, Storehouse %>
        <div class="text-center">
            <%= link_to t('button.search_storehouse'), storehouses_search_path(product_id: @product.id), class: "cursor-pointer bg-gray-300 hover:bg-gray-400 px-3 py-1 font-medium hover:text-gray-800 rounded-full shadow" %>
        </div>
    <% end %>
</div>

<% if can? :add_to_cart, Cart %>
    <div class="grid grid-cols-1">
        <div class="">
            <%= form_with(url: add_to_cart_path) do |form| %>
                <%= form.hidden_field :product_id, value: @product.id %>
                <%= form.number_field :quantity, value: 0, step: 1, min: 1, max: @product_avaliable, class: "appearance-none bg-gray-100 text-gray-700 border border-gray-200 focus:border-gray-400 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" %>
                <%= form.button nil, class: "cursor-pointer bg-gray-300 hover:bg-gray-400 px-3 py-1 font-medium hover:text-gray-800 rounded-full shadow" do %>
                    <%= t('button.add_to_cart') %>
                <% end %>
            <% end %>
        </div>
    </div>
<% end %>

<% if @product.description.present? %>
    <div class="grid grid-cols-1 mb-2 mt-2 py-2">
        <div class="text-justify indent-4">
            <%= @product.description %>
        </div>
    </div>
<% end %>