<% if can? :update, Product %>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-3 mb-3">
<% else %>
    <div class="grid grid-cols-1 mb-3">
<% end %>
        <div class="text-start text-xl font-semibold leading-none">
            <%= @product.name %>
        </div>
        <% if can? :update, Product %>
            <div class="text-end my-auto">
                <%= link_to t('button.edit'), edit_product_path(@product), class: "cursor-pointer bg-gray-300 hover:bg-gray-400 px-3 py-1 font-medium hover:text-gray-800 rounded-full shadow" %>
            </div>
        <% end %>
    </div>

<div class="grid grid-cols-1 mb-3">
    <div class="text-start leading-none">
        <% @category.ancestors.each do |category| %>
            <%= link_to category.name, shop_path(id: category.id) %> &gt;
        <% end %>
        <%= link_to @category.name, shop_path(id: @category.id) %>
    </div>
</div>

<div class="grid grid-cols-1 gap-3 mb-3">
    <div class="text-start">
        <% if can? :create, Storehouse %>
            <%= link_to t('button.add.storehouse'), new_storehouse_path(product_id: @product.id, operation_type: "input"), method: :post, class: "cursor-pointer bg-gray-300 hover:bg-gray-400 px-3 py-1 font-medium hover:text-gray-800 rounded-full shadow" %>
        <% end %>
        <% if can? :search, Storehouse %>
            <%= link_to t('button.search_storehouse'), storehouses_search_path(product_id: @product.id), class: "cursor-pointer bg-gray-300 hover:bg-gray-400 px-3 py-1 font-medium hover:text-gray-800 rounded-full shadow" %>
        <% end %>
    </div>
</div>

<div class="grid grid-cols-2 lg:grid-cols-6 md:grid-cols-4 gap-3 mb-3">
    <% if @product.photos.attached? %>
        <% @product.photos.each do |photo| %>
            <div>
                <img class="p-4" src="<%= cloudinary_url(photo.key, height: 200, crop: :scale) %>" style="width:100%;">
            </div>
        <% end %>
    <% end %>
</div>

<div class="grid grid-cols-1 gap-3 mb-3">
    <div class="text-start font-medium ps-2">
        <% if @sale.present? %>
            <% if @sale.start_date > Time.zone.today %>
                <%= t('.price') %> <%= number_to_currency(@product.price) %><br>
                <% if can? :manage, @sale %>
                    <%= t('.sale') %>
                    <%= t('.sale_percentage') %> <%= @sale.percentage %> %
                    <% if can? :update, @sale %>
                        <%= link_to t('button.edit'), edit_sale_path(@sale), class: "cursor-pointer bg-gray-300 hover:bg-gray-400 px-3 py-1 font-medium hover:text-gray-800 rounded-full shadow" %>
                    <% end %>
                    <% if can? :destroy, @sale %>
                        <%= button_to t('button.delete'), @sale, method: :delete, data: { turbo_confirm: t('button.delete_confirm') }, class: "cursor-pointer bg-gray-300 hover:bg-gray-400 px-3 py-1 font-medium hover:text-gray-800 rounded-full shadow", form: {style: 'display:inline-block;'} %>
                    <% end %>
                    <div class="text-gray-500 font-normal">
                        <%= t('.sale_date') %> <%= I18n.l(@sale.start_date) %> - <%= I18n.l(@sale.end_date) %><br>
                        <%= t('.sale_price') %> <%= number_to_currency(@product.price - (@product.price * @sale.percentage * 0.01)) %>
                    </div>
                <% end %>
            <% else %>
                <div class="line-through text-gray-500 font-normal">
                    <%= t('.price') %> <%= number_to_currency(@product.price) %>
                </div>
                <div class="text-red-700">
                    <%= t('.sale') %>
                    <%= t('.sale_percentage') %> <%= @sale.percentage %> %
                    <% if can? :update, @sale %>
                        <%= link_to t('button.edit'), edit_sale_path(@sale), class: "cursor-pointer bg-gray-300 hover:bg-gray-400 px-3 py-1 font-medium text-gray-700 hover:text-gray-800 rounded-full shadow" %>
                    <% end %>
                </div>
                <div class="text-sm text-red-700 font-normal">
                    <%= t('.sale_date') %> <%= I18n.l(@sale.start_date) %> - <%= I18n.l(@sale.end_date) %>
                    (<%= t('.sale_description') %>)
                </div>
                <div class="text-red-700">
                    <%= t('.sale_price') %> <%= number_to_currency(@product.price - (@product.price * @sale.percentage * 0.01)) %>
                </div>
            <% end %>
        <% else %>
            <%= t('.price') %> <%= number_to_currency(@product.price) %>
            <% if can? :create, Sale %>
                <%= link_to t('button.add.sale'), new_sale_path(product_id: @product.id), method: :post, class: "cursor-pointer bg-gray-300 hover:bg-gray-400 px-3 py-1 font-medium hover:text-gray-800 rounded-full shadow" %>
            <% end %>
        <% end %>
    </div>
</div>

<% if can? :add_to_cart, Cart %>
    <div class="grid grid-cols-1 ps-2">
        <div class="flex items-baseline justify-start mb-3">
            <% if @product_avaliable > 0 %>
                <div class="font-medium pe-5">
                    <%= t('.avaliable') %> <%= @product_avaliable %>
                </div>
                <div>
                    <%= form_with(url: add_to_cart_path) do |form| %>
                        <%= form.hidden_field :product_id, value: @product.id %>
                        <%= form.number_field :quantity, value: 1, step: 1, min: 1, max: @product_avaliable, class: "appearance-none bg-gray-100 text-gray-700 border border-gray-200 focus:border-gray-400 rounded py-2 px-2 leading-tight focus:outline-none focus:bg-white" %>
                        <%= form.button nil, class: "cursor-pointer bg-gray-300 hover:bg-gray-400 px-3 py-1 font-medium hover:text-gray-800 rounded-full shadow" do %>
                            <%= t('button.add_to_cart') %>
                        <% end %>
                    <% end %>
                </div>
            <% else %>
                <div class="font-medium">
                    <%= t('.not_avaliable') %>
                </div>
            <% end %>
        </div>
        <div class="font-medium mb-3">
            <% if @storehouse_record.present? %>
                <%= t('.in_my_cart') %>  <%= @storehouse_record.quantity %>
            <% end %>
        </div>
    </div>
<% end %>

<% if @product.description.present? %>
    <div class="grid grid-cols-1 mb-2 mt-2 py-2">
        <div class="text-justify indent-4">
            <%= @product.description %>
        </div>
    </div>
<% end %>